.sidebar-title {
  font-weight: bold;
  font-size: large;
}

.sidebar-links {
  list-style-type: none;
  padding: 10px 0;
}

.sidebar-link-container {
  color: black;
  padding-bottom: 5px;
}

.sidebar-link-container:hover {
  background-color: dimgray;
}

.sidebar-link {
  color: black;
}