.products-collection {
    display: flex;
    flex-direction: column;
}

.product-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.product-container:hover {
    background-color: var(--bs-gray-200);
    color: black;
}

.product-description-container {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: xx-large;
    font-weight: bold;
}
